# Better Auth
BETTER_AUTH_SECRET= # use openssl rand -base64 32 to generate secret key
BETTER_AUTH_URL=http://localhost:3000 # Base URL of elysia

# Drizzle ORM
DATABASE_URL= # URL to postgres database