# Better Auth
# Generate with: openssl rand -base64 32
BETTER_AUTH_SECRET=

# Base URL of Elysia
BETTER_AUTH_URL=http://localhost:3000

# Drizzle ORM
# URL to postgres database
DATABASE_URL=

# Garage S3-compatible storage
GARAGE_ENDPOINT=http://localhost:3900
GARAGE_REGION=garage
GARAGE_BUCKET=
GARAGE_ACCESS_KEY_ID=
GARAGE_SECRET_ACCESS_KEY=
GARAGE_FORCE_PATH_STYLE=true
GARAGE_PUBLIC_URL=
GARAGE_PRESIGNED_URL_EXPIRES_IN=900
